<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanguebom.group.sanguebomsd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".Atividades.ActivityCategorias">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Atividades.ActivityCampanhas" />
        <activity android:name=".Atividades.ActivityEventos" />
        <activity android:name=".Atividades.ActivityCadastro" />
        <activity android:name=".Atividades.ActivityListaCampanhas" />
        <activity android:name=".Atividades.ActivityListaEvento" />
        <activity android:name=".Atividades.LoginCadastroActivity" />
        <activity android:name=".Atividades.ActivityPerguntasFrequentes" />
        <activity android:name=".Atividades.LoginFacebookActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Atividades.MeusEventosActivity"
            android:label="@string/title_activity_meus_eventos"
            android:parentActivityName=".Atividades.ActivityListaEvento"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sanguebom.group.sanguebomsd.Atividades.ActivityListaEvento" />
        </activity>
        <activity android:name=".Atividades.CadastrarEventoActivity"></activity>
    </application>

</manifest>